@tailwind base;
@tailwind components;
@tailwind utilities;

@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

body {
  background-color: #f0ebf8;
}

.customInput:focus {
  outline: none;
}

.rangeInput::-webkit-outer-spin-button,
.rangeInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.rangeInput[type="number"] {
  -moz-appearance: textfield;
}

.hideScrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hideScrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.subMenu__section:last-of-type {
  border-bottom: none;
}

.tableRow td {
  padding: 8px !important;
}

@media screen and (max-width: 1024px) {
  .hideCell {
    display: none;
  }
}


